<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- =================== LINK =================== -->
    <link rel="stylesheet" href="/css/register.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script>
      window.onload = function () {
        var t = document.getElementById("duplicate");

        t.onclick = function (event) {
          var id = document.getElementById("id").value;
          var idChk = document.getElementById("idChk");
         

          if (id.length == 0) {
            alert("아이디를 입력 하세요.");
          } else {
            axios({
              method: "get",
              params: {
                id: id,
              },
              headers: {
                "Content-Type": "application/json",
              },
              url: "/json/test2",
            })
              .then((response) => {
                if (response.data.status === 1) {
                  alert("이미 사용 중인 아이디입니다.");
                  idChk.value = "0";
                  console.log(idChk);
                } else {
                  alert("사용 가능한 아이디입니다.");
                  idChk.value = "1";
                  console.log(idChk);
                  
           		}
              })
              .catch((error) => {
                console.log(error);
              });
          }
        };
      };
      
    function pwCheckFunction() {
    	var pw = document.getElementById("password").value;
    	var checkPw = document.getElementById("checkPassword").value;
    
    	// 비밀번호 영문+숫자+특수문자 조합 (8~15자리 입력) 정규식
    	var reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;   	
    	
    	// 비밀번호 유효성 체크
    	if(!reg.test(pw) && !pw.length == 0){
    		document.getElementById('pwConfirm').innerHTML='비밀번호는 영문자+숫자+특수문자 조합으로 8~15자리 까지 입력하세요.';
            document.getElementById('pwConfirm').style.color='red';
    	} else {
    		document.getElementById('pwConfirm').innerHTML='';
    		
    		if(!checkPw.length == 0){
	       		if(pw != checkPw){
	           		document.getElementById('checkPwConfirm').innerHTML='비밀번호가 일치하지 않습니다.';
	                document.getElementById('checkPwConfirm').style.color='red';
	           	} else {
	           		document.getElementById('checkPwConfirm').innerHTML='비밀번호가 일치합니다.';
	    	        document.getElementById('checkPwConfirm').style.color='green';
	           	}
    		} else {
    			document.getElementById('checkPwConfirm').innerHTML='';
    		}	

    	}	
    	
	}
    
    function emailCheckFunction(){
    	var email = document.getElementById("email").value;
    	
    	// 이메일 검증 정규식
    	var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
    	
    	// 이메일 유효성 체크
    	if(!reg_email.test(email) && !email.length == 0){
    		document.getElementById('emailConfirm').innerHTML='이메일 형식이 올바르지 않습니다.';
    		document.getElementById('emailConfirm').style.color='red';
    	} else {
    		document.getElementById('emailConfirm').innerHTML='';
    	}
    }
    
    function phoneCheckFunction(){
    	var phone = document.getElementById("phone").value;
    	
    	// 휴대폰 검증 정규식
    	var reg_phone = /01[016789]-[^0][0-9]{2,3}-[0-9]{3,4}/;
    	
    	if(!reg_phone.test(phone) && !phone.length == 0){
    		document.getElementById('phoneConfirm').innerHTML='전화번호 형식이 올바르지 않습니다.';
    		document.getElementById('phoneConfirm').style.color='red';
    	} else{
    		document.getElementById('phoneConfirm').innerHTML='';
    	}
    	
    }
    
    

		
	$(document).ready(function(){
		/* $("#signUp").click(function(){
			 
            // json 형식으로 데이터 set
            var params = {
                      id      : $("#id").val()
                    , password       : $("#password").val()
                    , name       : $("#name").val()
            }
                
            // ajax 통신
            $.ajax({
                type : "GET",            // HTTP method type(GET, POST) 형식이다.
                url : "/insertMember",      // 컨트롤러에서 대기중인 URL 주소이다.
                data : params,            // Json 형식의 데이터이다.
                success : function(result){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'result'는 응답받은 데이터이다.
                	console.log(result);
                	if(result){
			    		 alert("회원가입 성공");
			    	} else {
			    		alert("다시 시도해 주세요.");
			    	}
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            });
        }); */
		
		
		
		$("#signUp").click(function(){
			var memberData = $("#joinForm").serialize();
			console.log(memberData);
			
			var id = $("#id").val();
			var pw = $("#password").val();
			var checkPw = $("#checkPassword").val();
			var name = $("#name").val();
			var idChk = $("#idChk").val();
			var email = $("#email").val(); 
			var url = 'localhost:8080/login';

			if(id.length == 0){
				alert("아이디를 입력 하세요.");
			} else if(pw.length == 0){
				alert("비밀번호를 입력 하세요.");
			} else if(checkPw.length == 0){
				alert("비밀번호를 확인해주세요.");
			} else if(checkPw != pw){
				alert("비밀번호가 일치 하지 않습니다, 다시 확인 해주세요.");
			} else if(name.length == 0){
				alert("이름을 입력 하세요.");
			} else if(idChk != 1){
				alert("아이디 중복체크를 해주세요.");
			} else {
		    
				$.ajax({
				    type: "POST",
				    url: "/member/insert",
				    data: memberData,	
				    dataType: "json",
				    success:function(result) {
				    	console.log(result);
				    	console.log(result.status);
				    	console.log(result.message);
				    	if(result.status == 1){
				    		alert(result.message);
				    		location.replace("/login");
				    	} else {
				    		alert(result.message);
				    	}
				    	
				    
					},
					error:function(xhr, ajaxOpts, thrownErr) {
						alert(thrownErr);
					}
				}); 
				
			}	

		});

	});
	
    </script>
  </head>
  <body>
    <form name="joinForm" id="joinForm">
    	<input type="hidden" name="idChk" id="idChk" value="0">
		
	    <main id="main">
	      <div class="contentBody">
	        <div class="subContent">
	          <div class="subBody">
	            <div class="subcontent">
	              <div class="wrapjoinForm">
	                <dl>
	                  <dt>
	                    <label for="a1">아이디</label>
	                  </dt>
	                  <dd class="flex gap8 duplicate">
	                    <input type="text" class="comInput" id="id" name="id" />
	                    <button type="button" class="comBtn" id="duplicate">중복확인</button>
	                  </dd>
	                </dl>
	                <dl>
	                  <dt>
	                    <label for="a2">비밀번호</label>
	                  </dt>
	                  <dd>
	                    <div class="">
	                      <input type="password" id="password"  name="password"  onkeyup="pwCheckFunction();"  class="comInput" />
	                      <span id="pwConfirm"></span>
	                    </div>
	                  </dd>
	                </dl>
	                <dl>
	                  <dt>
	                    <label for="a3">비밀번호 확인</label>
	                  </dt>
	                  <dd>
	                    <div class="">
	                      <input type="password" id="checkPassword" name="checkPassword" onkeyup="pwCheckFunction();" class="comInput" />
	                      <span id="checkPwConfirm"></span>
	                    </div>
	                  </dd>
	                </dl>
	                <dl>
	                  <dt>
	                    <label for="a4">이름</label>
	                  </dt>
	                  <dd>
	                    <div class="">
	                      <input type="text" id="name" name="name"  class="comInput" />
	                    </div>
	                  </dd>
	                </dl>
	                <dl class="flex ai birthdate">
	                  <dt>생년월일</dt>
	                  <dd>
	                    <div class="flex">
	                      <div class="comSelectBox">
	                        <div class="comSelect">
	                          <label for="c1" class="hidden">년</label>
	                          <select name="" id="c1" class="comSelect">
	                            <option value="1990년">1990년</option>
	                          </select>
	                        </div>
	                      </div>
	                      <div class="comSelectBox">
	                        <div class="comSelect">
	                          <label for="c1" class="hidden">월</label>
	                          <select name="" id="c1" class="comSelect">
	                            <option value="10월">01월</option>
	                          </select>
	                        </div>
	                      </div>
	                      <div class="comSelectBox">
	                        <div class="comSelect">
	                          <label for="c1" class="hidden">일</label>
	                          <select name="" id="c1" class="comSelect">
	                            <option value="10일">01일</option>
	                          </select>
	                        </div>
	                      </div>
	                    </div>
	                  </dd>
	                </dl>
	                <dl class="flex gender">
	                  <dt>성별</dt>
	                  <dd>
	                    <div class="formRadio flex ai">
	                      <div>
	                        <input type="radio" id="M" name="sex" th:value="M" checked />
	                        <label for="c1"> 남성 </label>
	                      </div>
	                      <div>
	                        <input type="radio" id="F"  name="sex" th:value="F" />
	                        <label for="c2"> 여성 </label>
	                      </div>
	                    </div>
	                  </dd>
	                </dl>
	                <dl>
	                  <dt><label for="a5">휴대폰 번호</label></dt>
	                  <dd>
	                    <div class="">
	                      <input type="text" id="phone" name="phone" class="comInput" onkeyup="phoneCheckFunction();" placeholder="010-0000-0000"/>
	                      <span id="phoneConfirm"></span>
	                    </div>
	                  </dd>
	                </dl>
	                <dl class="address">
	                  <dt>주소</dt>
	                  <dd>
	                    <div class="flex gap8">
	                      <input
	                        type="text"
	                        id="zipcode"
	                        name="zipcode"
	                        class="comInput"
	                        placeholder="우편번호" 
	                        readonly
	                      />
	                      <input
	                        type="button"
	                        class="comBtn"
	                        onclick="execDaumPostcode()"
	                        value="우편번호 찾기"
	                      />
	                    </div>
	                    <div>
	                      <input
	                        type="text"
	                        id="add1"
	                        name="add1"
	                        class="comInput roadname"
	                        placeholder="도로명주소"
	                        readonly
	                      />
	                      <input
	                        type="text"
	                        id="add2"
	                        name="add2"
	                        class="comInput"
	                        placeholder="상세주소"
	                      />
	                    </div>
	                  </dd>
	                </dl>
	                <dl>
	                  <dt><label for="a6">이메일</label></dt>
	                  <dd>
	                    <div class="">
	                      <input type="text" id="email" name="email" onkeyup="emailCheckFunction();" class="comInput" />
	                      <span id="emailConfirm"></span>
	                    </div>
	                  </dd>
	                </dl>
	                <div class="submit">
	                  <button type="button" class="comBtn" id="signUp">회원가입</button>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </main>
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      function execDaumPostcode() {
        new daum.Postcode({
          oncomplete: function (data) {
            document.getElementById("zipcode").value = data.zonecode;
            document.getElementById("add1").value = data.address;
            document.getElementById("add2").focus();
          },
        }).open();
      }
    </script>
  </body>
</html>
