<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.jbground.community.web.account.dao.MemberDao">

    <select id="getMembers" resultType="com.jbground.community.model.Member">
        SELECT * FROM MEMBER
    </select>
    
    <select id="checkId" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM MEMBER
        	WHERE
        ID = #{id}	
    </select>
    
    <insert id="insertMember" parameterType="com.jbground.community.model.Member">
    	INSERT 
    		INTO
    	MEMBER (
    			ID
    			, NAME
    			, PASSWORD
    			, REGISTER_DATE
    			<if test="phone != null and phone != ''">
    				, PHONE
    			</if>	
    			<if test="sex != null and sex != ''">
    				, SEX
    			</if>	
    			<if test="email != null and email != ''">
    				, EMAIL
    			</if>
    			, IP
    			, LOGIN_DATE
    			, CHANGE_DATE
    			<if test="address_seq != null and address_seq != ''">
    				, ADDRESS_SEQ
    			</if>
    			)
    		VALUES
	    		(
	    		#{id}
	    		, #{name}
	    		, #{password}
	    		, current_timestamp
	    		<if test="phone != null and phone != ''">
	    			, #{phone}
	    		</if>
	    		<if test="sex != null and sex != ''">
	    			, #{sex}
	    		</if>
	    		<if test="email != null and email != ''">
	    			, #{email}
	    		</if>
	    		, '127.0.0.1'
	    		, current_timestamp
	    		, current_timestamp
	    		<if test="address_seq != null and address_seq != ''">
	    			,#{address_seq}
	    		</if>
	    		)
    </insert>

</mapper>
