<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <Properties>
        <Property name="logPath">./logs/jbground/${date:yyyy}/${date:MM}</Property>
        <Property name="consoleLayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p [%t] %c{1.} - %m%n</Property>
        <Property name="fileLayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p [%t] [%c] - %m%n</Property>
    </Properties>

    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}"/>
        </Console>

        <!-- ALL 파일 -->
<!--        <RollingFile name="all" fileName="${logPath}/all_${date:yyyy}${date:MM}${date:dd}.log"-->
<!--                     filePattern="${logPath}/all_%d{yyyyMMdd}.log">-->
<!--            <PatternLayout charset="UTF-8" pattern="${fileLayout} %throwable{full}"/>-->
<!--            <Policies>-->
<!--                <SizeBasedTriggeringPolicy size="10MB" />-->
<!--                <TimeBasedTriggeringPolicy />&lt;!&ndash; Rotated everyday &ndash;&gt;-->
<!--            </Policies>-->
<!--        </RollingFile>-->

        <!-- WARN 파일 -->
<!--        <RollingFile name="warn" fileName="${logPath}/warn_${date:yyyy}${date:MM}${date:dd}.log"-->
<!--                     filePattern="${logPath}/warn_%d{yyyyMMdd}.log">-->
<!--            <PatternLayout charset="UTF-8" pattern="${fileLayout} %throwable{full}" />-->
<!--            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            <Policies>-->
<!--                <SizeBasedTriggeringPolicy size="10MB" />-->
<!--                <TimeBasedTriggeringPolicy />-->
<!--            </Policies>-->
<!--        </RollingFile>-->

        <!--        &lt;!&ndash; ERROR 파일 &ndash;&gt;-->
<!--        <RollingFile name="error" fileName="${logPath}/error_${date:yyyy}${date:MM}${date:dd}.log"-->
<!--                     filePattern="${logPath}/error_%d{yyyyMMdd}.log">-->
<!--            <PatternLayout charset="UTF-8" pattern="${fileLayout} %throwable{full}" />-->
<!--            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            <Policies>-->
<!--                <SizeBasedTriggeringPolicy size="10MB" />-->
<!--                <TimeBasedTriggeringPolicy />-->
<!--            </Policies>-->
<!--        </RollingFile>-->
    </Appenders>

    <loggers>
        <root level="info" additivity="true">
            <AppenderRef ref="console"/>
            <!--<AppenderRef ref="all"/>-->
            <!--<AppenderRef ref="warn"/>-->
            <!--<AppenderRef ref="error"/>-->
        </root>

    </loggers>

</configuration>
