<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <head>
        <title>Product</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
    </head>
    <script type="text/javascript">
    
    </script>
</head>
<body class="is-preload homepage">
    <div id="page-wrapper">

		
        <div id="header-wrapper">
            <header id="header" class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="/main">Jbground</a></h1>
                    <span>by HTML5 UP</span>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="index.html">Welcome</a></li>
                        <li>
                            <a href="/product/list">Product</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li>
                                    <a href="#">Phasellus consequat</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Phasellus consequat</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li><a href="#">Etiam dolore nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li>
                            </ul>
                        </li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="no-sidebar.html">No Sidebar</a></li>
                    </ul>
                </nav>

            </header>
        </div>
    </div>
    
	<form action="/product/list" method="get">
		
	    <div id="features-wrapper">
	        <div class="container">
	            <div class="row">

	                <div class="col-4 col-12-medium" th:each="item : ${productList}">
	                    <!-- Box -->
	                    <section class="box feature">
	                        <a href="#" class="image featured"><img th:src="${item.image}" alt="상품 이미지" /></a>
	                        <div class="inner">
	                            <header>
	                                <h2 th:text="${item.title}">상품1</h2>
	                                <p th:text="${item.desc}">상품설명</p>
	                            </header>
	                            <p th:text="${item.price} + 원">가격 : 40,000원</p>
	                            <p th:text="${item.stock}">수량 : 4</p>
	                        </div>
	                    </section>
	                </div>
	
	
	            </div>
	        </div>
	        <nav>
	            <ul class="pagination" style="padding-top : 50px; margin: 0 auto;">
	                <li>
	                    <a th:href="@{/product/list(pageNo = ${page.prevPage})}" aria-label="Previous">
	                        <span aria-hidden="true">&laquo;</span>
	                    </a>
	                </li>
                    <li>
                        <th:block th:each="item : ${#numbers.sequence(page.startPage,page.endPage)}">
                            <a th:href="@{/product/list(pageNo = ${item})}" th:text="${item}"></a>
                        </th:block>
                    </li>
	                <li>
	                    <a th:href="@{/product/list(pageNo = ${page.nextPage})}" aria-label="Next">
	                        <span aria-hidden="true">&raquo;</span>
	                    </a>
	                </li>
	            </ul>
	        </nav>
	    </div>
    </form>

</body>
</html>