.boardWrap table th {
  text-align: center;
}
.boardWrap table td {
  text-align: center;
}
.boardWrap table tr {
  border-top: solid 1px #fafafa !important;
}
.boardWrap table tr:last-child {
  border-bottom: solid 1px #fafafa;
}

.boardWrap input {
  width: 15px;
  height: 15px;
}
.boardWrap .btnBox {
  display: flex;
  justify-content: space-between;
}
.boardWrap .btnBox button {
  width: 72px;
  height: 30px;
  font-size: 12px;
  background-color: #fc8b6e;
}
.boardWrap .btnBox .btnleft {
  display: flex;
  gap: 9px;
}

.boardWrap.boardView table td {
}

.boardWrap.boardView table td {
  text-align: left;
  padding: 10px 8px;
}
.boardWrap.boardView table tr {
  border-top: 1px solid #585858 !important;
}
.boardWrap.boardView table tr:first-child {
  border-top: 2px solid #585858 !important;
}

.boardWrap.boardView table tr:last-child {
  border-bottom: 1px solid #585858;
}

.boardWrap.boardView table th {
  background: #e2e2e2;
}
.boardWrap.boardView table input {
  width: 100%;
  height: 38px;
  font-size: 15px !important;
}
.boardWrap.boardView table input:focus {
  outline: none;
}
.boardWrap.boardView .textContent {
  height: 300px;
}
.boardWrap.boardView .textContent th {
  vertical-align: middle;
}
.boardWrap.boardView .textContent td {
  /* text-align: */
}
.boardWrap.boardView .textContent input {
  height: 280px !important;
}
