.flex {
  display: flex;
}

.ai {
  align-items: center;
}

.comInput {
  width: 100%;
  padding: 0.6rem;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  border: 0;
  outline: 0;
  border-radius: 360px;
  padding-left: 1rem;
  box-sizing: border-box;
}
.comInput:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  outline: none;
}

.comBtn {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-block;
  border-radius: 30px;
  border: none;
  background: gainsboro;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.comBtn:hover {
  background: #afb1b1;
}

.comSelectBox {
  flex: 1;
  position: relative;
}
.comSelectBox::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  right: 0.625rem;
}

.comSelect {
  position: relative;
  width: 100%;
  height: 28px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 2.3125rem;
  color: #333;
  appearance: none;
}
