@import url(../css/reset.css);
@import url(../css/common.css);
@import url(../css/layout.css);

.subcontent {
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapjoinForm {
  width: 500px;
  height: 800px;
  background: #efefef;
  border-radius: 30px;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 35px;
  color: #444;
  font-size: 0.9rem;
  font-weight: 500;
}

.wrapjoinForm .gap8 {
  gap: 8px;
}

.wrapjoinForm dl {
  gap: 20px;
  margin-bottom: 1.5rem;
}

.wrapjoinForm dl dt {
  margin-bottom: 0.7rem;
}

.wrapjoinForm .duplicate button {
  white-space: nowrap;
}

.wrapjoinForm .address .flex {
  margin-bottom: 7px;
}
.wrapjoinForm .address .roadname {
  margin-bottom: 7px;
}

.wrapjoinForm .submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapjoinForm .submit button {
  padding: 10px 15px;
}
.wrapjoinForm .birthdate dd {
  flex: 1;
}
.wrapjoinForm .ai.birthdate {
  align-items: baseline;
}
.wrapjoinForm .birthdate .comSelectBox::after {
  width: 0rem;
  height: 0rem;
  border-top: 9px solid #666666;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.wrapjoinForm .gender {
  align-items: baseline;
}
